@page "/adventure"
@inject HttpClient Http
@inject IJSRuntime JsRuntime


<PageTitle>Adventure Games</PageTitle>

<h1 class="mb-5 text-center" id="top">Adventure Games</h1>

@if (Game == null)
{
    <h2>Loading....</h2>
}
else
{
    <div class="container text-center">
        <div class="mb-4">
            <label for="platformOption">Platforms</label>
            <select style="width: 9rem;" class="ps-1 selectBar" name="platformOption" id="platformOption"
            @onchange="HandlePlatformSelection">
                <option value="">Select Platform</option>
                <option value="&platforms=4">PC</option>
                <option value="&platforms=7">Nintendo Switch</option>
                <option value="&platforms=18">Playstation 4</option>
                <option value="&platforms=1">Xbox One</option>
            </select>
        </div>
        <div class="row">
            @foreach (var game in Game.Results)
            {
                <div class="col">
                    <div class="card cardHover mb-3" style="width: 18rem; height: 18rem;">
                        <img src="@game.Image" alt="@game.Name" class="card-img-top border border-3" style="height: 10rem;">
                        <div class="card-body">
                            <h5 class="fs-4"><a style="color: rgb(154, 55, 253);" href="/game/@game.Id">@game.Name</a></h5>
                            @foreach (var g in game.Genre)
                            {
                                <p style="display: inline-block;" class="me-2">@g.Name </p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var game in GamesList)
            {
                <div class="col">
                    <div class="card cardHover mb-3" style="width: 18rem; height: 18rem;">
                        <img src="@game.Image" alt="@game.Name" class="card-img-top border border-3" style="height: 10rem;">
                        <div class="card-body">
                            <h5 class="fs-4"><a style="color: rgb(154, 55, 253);" href="/game/@game.Id">@game.Name</a></h5>
                            @foreach (var g in game.Genre)
                            {
                                <p style="display: inline-block;" class="me-2">@g.Name </p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div class="text-center mb-5 mt-3">
    @if (nextPage != null || Game?.Next != null)
    {
        <button class="btn button" @onclick="LoadMore">Load More</button>
    }
    <button @onclick="ScrollToTop" class="btn button ms-3">Back to the Top</button>

</div>



@code {
    private Games? Game = null;
    private List<GameResults> GamesList = new List<GameResults>();
    private string? nextPage;
    private string? platformOption;
    private ElementReference topElementRef;
    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync($"https://api.rawg.io/api/games?key=9cdb4d324c4a4643bb3d48d32b5884b2&genres=3");
        if (res.IsSuccessStatusCode)
        {
            Game = await res.Content.ReadFromJsonAsync<Games>();
            nextPage = Game?.Next;
        }
        else
        {
            Game = null;
        }
    }

    private async Task LoadMore()
    {
        if (nextPage != null)
        {
            var res = await Http.GetAsync($"{nextPage}");
            if (res.IsSuccessStatusCode)
            {
                var gamesResult = await res.Content.ReadFromJsonAsync<Games>();
                nextPage = gamesResult?.Next;
                GamesList.AddRange(gamesResult.Results);
            }
            else
            {
                Game = null;
            }
        }
    }

    private async Task FetchPlatforms()
    {
        string url = "https://api.rawg.io/api/games?key=9cdb4d324c4a4643bb3d48d32b5884b2&genres=4";
        var res = await Http.GetAsync($"{url}{platformOption}");
        if (res.IsSuccessStatusCode)
        {
            Game = await res.Content.ReadFromJsonAsync<Games>();
            nextPage = Game?.Next;
        }
        else
        {
            Game = null;
        }
    }

    private async Task HandlePlatformSelection(ChangeEventArgs e)
    {
        var selectedOption = e.Value?.ToString();
        if (selectedOption == "clear")
        {
            platformOption = null;
        }
        else
        {
            platformOption = selectedOption;
        }

        await FetchPlatforms();
    }

    private async void ScrollToTop()
    {
        await JsRuntime.InvokeVoidAsync("OnScrollEvent");
    }
}